{% extends 'base.html' %}

{% block titulo %}{{ 'No encontrado' if codigo == 404 else 'Error ' ~ codigo }} | Kernel de Bastian{% endblock %}

{% block contenido %}
<br><br>
<center>
<table width="{{ '100%' if movil else '560' }}" cellpadding="16" cellspacing="0" border="2" bgcolor="{{ c.hundido }}">
    <tr><td align="left">
        {% if codigo == 404 %}
        <tt><font color="{{ c.tenue }}">bastian@biobio:~$ cat {{ ruta }}</font><br>
        <font color="{{ c.activo }}">cat: {{ ruta }}: No existe el archivo o el directorio</font></tt>
        <h1><font color="{{ c.titulo }}">Esta página no existe</font></h1>
        <p>Puede que la entrada haya cambiado de nombre o que el enlace esté mal escrito.</p>
        {% else %}
        <tt><font color="{{ c.activo }}">error {{ codigo }}</font></tt>
        <h1><font color="{{ c.titulo }}">No se pudo completar</font></h1>
        <p>{{ detalle or 'Algo falló al procesar la solicitud.' }}</p>
        {% endif %}
        <p><a href="/">Ir al inicio</a> &nbsp;|&nbsp; <a href="/bitacora">Ver la bitácora</a></p>
    </td></tr>
</table>
</center>
{% endblock %}
